body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF80; /* 배경 색 */
}

.header {
  display: flex;
  align-items: center;
  padding: 0px;
  position: relative;
  background-color: #FFFFFF; /* 헤더 배경 색 */
}

.logo img {
  height: 40px; /* 로고 크기 */
  margin-top: 10px;
  cursor: pointer; /* 마우스 포인터 변경 */
}

.logo {
  margin-left: 50px; /* 홈 버튼을 오른쪽으로 이동 */
}

.site-title img {
  height: 40px; /* 제목 이미지 크기 조정 */
  margin-top: 14px; /* 아래로 내리기 */
}

.faq-container {
  max-width: 1500px; /* 박스 길이 */
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.faq-item {
  margin: 20px 0;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.faq-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

h2 {
  margin: 0;
  font-size: 20px;
  color: #1170f3; /* 글 색 */
}

.faq-answer {
  overflow: hidden;
  padding-top: 10px;
  color: #111;
  transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out;
  max-height: 500px; /* 충분히 큰 값으로 설정 */
  transform: translateY(-10px);
}

.faq-question {
  cursor: pointer;
  padding: 20px; /* 클릭 영역 확대 */
}

p {
  margin: 0;
}

.rotate {
  transform: rotate(180deg);
}

/* 문의 사항 폼 스타일 추가 */
.inquiry-form {
  margin-top: 20px;
  background-color: #fff; /* 배경 색 */
  border: 1px solid #ddd; /* 테두리 색 */
  border-radius: 5px; /* 모서리 둥글기 */
  padding: 20px; /* 내부 여백 */
}

.inquiry-form div {
  margin-bottom: 15px; /* 각 입력 필드 사이 여백 */
}

label {
  display: block; /* 레이블을 블록으로 표시 */
  margin-bottom: 5px; /* 레이블과 입력 필드 사이 여백 */
}

input[type="text"], input[type="email"] {
  width: 100%; /* 가로 길이 조정 */
  height: 40px; /* 높이 조절 */
  padding: 10px; /* 내부 여백 */
  border: 1px solid #ddd; /* 테두리 색상 */
  border-radius: 5px; /* 모서리 둥글기 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 계산 */
}

textarea {
  width: 100%; /* 전체 너비 사용 */
  padding: 10px; /* 내부 여백 */
  border: 1px solid #ddd; /* 테두리 색상 */
  border-radius: 5px; /* 모서리 둥글기 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 계산 */
  height: 100px; /* 텍스트 영역 높이 조정 */
  resize: none; /* 세로로 크기 조정 가능하게 설정 */
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #0070f3; /* 버튼 배경 색 */
  color: white; /* 버튼 텍스트 색 */
  cursor: pointer; /* 커서 포인터로 변경 */
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005bb5; /* 버튼 hover 색상 */
}

/* 미디어 쿼리 
@media (max-width: 600px) {
  .faq-item {
      padding: 10px;
  }

  h1 {
      font-size: 24px;
  }

  h2 {
      font-size: 16px;
  }
}*/