.faq-answer {
    overflow: hidden;
    padding-top: 10px;
    color: #555;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out; /* 패딩 애니메이션 추가 */
    max-height: 0; /* 기본적으로 닫힌 상태 */
    transform: translateY(-10px);
  }
  
  .faq-answer.open {
    max-height: 200px; /* 열릴 때 최대 높이 (충분히 큰 값으로 설정) */
    transform: translateY(0);
    padding-top: 10px; /* 열린 상태에서 패딩을 주기 */
  }