/* 전체 메뉴 바 스타일 */
.fixed-menu {
  position: fixed; /* 고정 위치 설정 */
  top: -2px; /* 상단으로 올리기 위해 값 줄임 */
  left: 0; /* 왼쪽에 위치 */
  right: 0; /* 오른쪽에 위치 */
  background-color: rgb(0, 24, 83, 0.3); /* 초기 배경색 설정 */
  z-index: 1000; /* 다른 요소들 위에 위치하게 설정 *
  height: 111px; /* 고정된 높이 증가 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 0 20px; /* 좌우 패딩 추가 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  transition: background-color 0.3s; /* 배경색 변경 애니메이션 추가 */
}

/* 버튼 스타일 */
.menu-button {
  padding: 10px 20px; /* 패딩 조정 */ 
  min-width: 110px; /* 최소 너비 설정 */
  white-space: nowrap; /* 줄 바꿈 방지 */
  display: flex; /* Flex 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  border-radius: 5px; /* 둥근 모서리 */
  text-decoration: none; /* 링크 밑줄 제거 */
  transition: background-color 0.3s, color 0.3s; /* 배경색과 텍스트 색상 전환 효과 */
  color: #fff; /* 기본 텍스트 색상 */
  font-size: 18px; /* 고정된 글씨 크기 */
  margin: 0 10px; /* 간격 조정 (좌우) */
}

.logout-button {
  padding: 10px 20px; /* 패딩 조정 */
  min-width: 110px; /* 최소 너비 설정 */
  white-space: nowrap; /* 줄 바꿈 방지 */
  display: flex; /* Flex 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  border-radius: 5px; /* 둥근 모서리 */
  text-decoration: none; /* 링크 밑줄 제거 */
  transition: background-color 0.3s, color 0.3s; /* 배경색과 텍스트 색상 전환 효과 */
  color: #000; /* 기본 텍스트 색상 */
  font-size: 18px; /* 고정된 글씨 크기 */
  margin: 0 10px; /* 간격 조정 (좌우) */
  background-color: rgba(255, 255, 255, 0.75); /* 상단 메뉴 배경색과 동일하게 설정 */
  border: none; /* 테두리 제거 */
}

.menu-button:hover {
  background-color: rgba(216, 218, 216, 0.2); /* 호버 시 배경색 */
  color: #000; /* 호버 시 텍스트 색상 */
}

/* 버튼 그룹 감싸는 div 스타일 */
.button-container {
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-left: 20px; /* 로고와 버튼 사이의 간격 조정 */
}

/* 로고 버튼을 왼쪽으로 정렬 */
.logo-text {
  font-size: 24px; /* 고정된 로고 글씨 크기 */
  font-weight: bold; /* 두껍게 */
  color: #111; /* 색상 변경 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* 텍스트 그림자 */
  transition: color 0.3s ease; /* 색상 전환 효과 */
  margin-right: 270px; /* 버튼과 간격 유지 */
}

/* 알림 모달 스타일 */
.alert-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alert-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* 미디어 쿼리: 화면이 작아질 때 버튼 숨기기 */
@media (max-width: 768px) {
  .menu-button {
    display: none; /* 버튼 숨기기 */
  }
}
